p {
  color: indigo;
}

h1 {
  color: blue;
  background-color: antiquewhite;
}

.info {
  background-color: azure;
}

.info h4,
h5,
h6 {
  background-color: azure;
  color: blue;
}

.confirmation {
  background-color: aliceblue;
}

.confirmation h4 {
  color: red;
}

.confirmation p {
  color: green;
}

#danger {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
